body{

    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(to right, rgb(24, 3, 3), #23371b);


}




.titulo {
    color: #31890f;
    display: inline-block;
    border: solid 1px #23371b;
    margin: 25px;
}

.titulo:hover{
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: -1px -1px 2px #31890f ;
    border: solid 1px #23371b;
}

.descripcion{
    color: #5bca30;


}


.padre{

    position: absolute;
    left: 10em;
    border: solid 1px #23371b;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 450px;
}

.container{

    border: solid 1px rgb(10, 118, 13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    margin: 20px;
    padding: 1em;
    color: #31890f;
    border-radius:3px;
}

.input-text{

    width: 85%;
    height: 75%;
    background-color: #121510;
    color: #31890f;

}

.container-botones{

   
    display: flex;
    border-radius: 3px;
    background-color: #0c100a;
    border: solid 1px rgb(10, 118, 13);
}

.button{
    
    color: #31890b;
    background-color: #23371b;
    box-shadow: -1px -1px 2px #31890f ;
    border: solid 1px #23371b;
    margin: 15px;
    border-radius:3px;
    width: 10em;
    height: 3em;
}   

.button:hover{

    transition: 1s;
    transform: scale(1.1);
    box-shadow: -2px -2px 2px #31890f ;
    border: solid 1px #23371b;
    cursor: pointer;
    color: #5bca30;
}

.container2{

    border: solid 1px rgb(10, 118, 13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    margin: 20px;
    padding: 1em;
    color: #31890f;
    border-radius:2px;



}

.copiar{

    color: #31890b;
    background-color: #23371b;
    box-shadow: -1px -1px 2px #31890f ;
    border: solid 1px #23371b;
    margin: 15px;
    border-radius:3px;
    width: 10em;
    height: 3em;
}

.copiar:hover{

    transition: 1s;
    transform: scale(1.1);
    box-shadow: -2px -2px 2px #31890f ;
    border: solid 1px #23371b;
    cursor: pointer;
    color: #5bca30;

}